.vertical-center {
    min-height: 33%;
    min-height: 33vh;

    display: flex;
    align-items: center;
}

.vertical-center-top {
    min-height: 33%;
    min-height: 33vh;

    display: flex;
    align-items: center;
}